<div class="row">
    <a href="/" class="centered">
        <div class="col-lg-3">
            <img style="width:250px; height:250px;" src="images/Dancing-Astronaut.jpg">
        </div>
        <div class="col-lg-9">
            <p style="font-size:4vw; color:black;">DANCING ASTRONAUT NOTE SCRAPER</p>
        </div>
    </a>
</div>
<div class="row">
    <form style="padding:15px;" class="form-inline">
        <a href="saved-articles" id="saved-articles" class="btn btn-dark" role="button">Saved Articles</a>
        <button class="btn btn-dark" id="clear" role="button">Clear Articles</button>
        <button class="btn btn-dark" id="scrape-articles" role="button">Scrape Articles</button>
    </form>
</div>