 {{!--
<h3>
  <a href="/saved-articles" style="float:right;" id="saved-articles" class='btn btn-successs'>Saved Articles</a>
  <a style="float:right;" id="scrape-articles" class='btn btn-successs'>Scrape Articles</a>
  <a style="float:right;" id="clear" class='btn btn-successs'>Clear All Articles</a>
</h3> --}}
<div class="container">
{{!-- <nav class="navbar transparent">
  <div class="row">
    <img style="width:250px; height:250px;" src="images/Dancing-Astronaut.jpg">
    <p style="font-size:4em">DANCING ASTRONAUT NOTE SCRAPER</p>
  </div>
  <div class="row">
    <form class="form-inline">
      <a href="/saved-articles" id="saved-articles" class="btn btn-dark" role="button">Saved Articles</a>
      <button class="btn btn-dark" id="scrape-articles" role="button">Scrape Articles</button>
    </form>
  </div>
</nav> --}}
  <nav class="navbar transparent">
      {{> nav }}
</nav>


  <div class="articles"></div>
</div>